
{% extends 'panel/base.html' %}
{% block title %}Registro{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
    <div class="row">
      <div class="col-xs-5">
          <img src="{% static 'base/assets/img/fish2.png'%}" alt="user" class="img-responsive center-box" style="max-width: 110px;"> 
      </div>
      <div class="col-xs-7">
          <h1>Actualización de Alevinaje</h1>
        
      </div>
  </div>
    </div>
</div>
<div class="container-fluid">
  <div class="container-flat-form">
      <div class="title-flat-form title-flat-blue">Alevinaje</div>
      <form method="POST" id="form" role="form" onsubmit="calculo(event);">{% csrf_token %}
          <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              
              <!-- Formulario Secretarias -->
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 tab-pane fade active in" id="Actividad">
                <br>
                <div class="material-control tooltips-general">    
                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_h">{{form.estatus.label }} </label>
                    <br>
                    <br>
                    {{form.estatus}}
                    <span class="help-block text-danger">{{ form.errors.estatus }}</span>

                  </div>
                <center><button type="submit" class="btn btn-primary" value="Guardar"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                
                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button></center>
              </div>
            </div>
         </div>
     </form>
  </div>
</div>
<script>

  function calculo(e) {
    e.preventDefault();

    var estatus = document.getElementById('id_estatus').value;


    if( estatus == ''){
      alert('por favor introduzca todos los datos');
      return false;
    }

    console.log("correto");
    document.getElementById("form").submit();
    
  }
  function valida(e){
    tecla = (document.all) ? e.keyCode : e.which;

    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }
        
    // Patron de entrada, en este caso solo acepta numeros
    patron =/[0-9]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
  }

  function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toLowerCase();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
    especiales = [8, 37, 39, 46];

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
  }
</script>
{% endblock %}








