{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Iniciar Sesion</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->

<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<style type="text/css">
.container-login100 { 
  background: url('{% static 'login/bg.jpeg'%}') no-repeat center center fixed !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}
</style>
<body>
  
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form-title">
          <span class="login100-form-title-1">
          <img src="{% static 'base/assets/img/fish.png'%}" alt="user" class="img-responsive center-box" style="max-width: 300px;">
          </span>
        </div>

        <form class="login100-form validate-form" method="POST">{% csrf_token %}
          
         
          <div class="wrap-input100 validate-input m-b-26" data-validate="Su Usuario es requerido">
            <span class="label-input100">Usuario</span>
            <input class="input100" type="text" for="username" form.username name="username" placeholder="Ingrese su  Usuario">
            <span class="focus-input100"></span>
          </div>


          <div class="wrap-input100 validate-input m-b-18" data-validate="Su Contraseña es requerida">
            <span class="label-input100">Contraseña</span>
            <input class="input100" type="password" for="password" form.password name="password" placeholder="Ingrese su  Contraseña">
            <span class="focus-input100"></span>
          </div>

          <div class="flex-sb-m w-full p-b-30">
            <div class="contact100-form-checkbox">
              <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
              <label class="label-checkbox100" for="ckb1">
                Recordarme
              </label>
            </div>

            <div>
              <a href="#" class="txt1">
                Olvido su Contraseña?
              </a>
            </div>
          </div>
          <div class="container-login100-form-btn">
            <button  type="submit" class="login100-form-btn">
              Entrar
            </button>
          </div>
        </form>
          {% for error in form.non_field_errors %}
          <center style="padding: 20px;">
              <p><i class="mdi-alert-error"></i> {{ error }}</p>
            
          </center>

          {% endfor %}
      </div>
    </div>
  </div>
  
<!--===============================================================================================-->
  <script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
  <script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'login/vendor/bootstrap/js/popper.js' %}vendor/bootstrap/js/bootstrap.min.js"></script>

<!--===============================================================================================-->
  <script src="{% static 'login/js/main.js' %}"></script>

</body>
</html>