{% extends 'panel/base.html' %}
{% block title %}Eliminar Alimento{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid"  style="margin: 50px 0;">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <img src="{% static 'base/assets/img/fish2.png'%}" alt="user" class="img-responsive center-box" style="max-width: 300px;">

            <div class="form">
              <form action="" method="post" >{% csrf_token %} 
              <h3 align="center" class="text-danger"><i class="zmdi zmdi-alert-triangle"></i><br>¿Desea eliminar el registro de {{ object.nombre }}?</h3>
              <div align="center">
                <button class="btn btn-danger" type="submit"> Si, eliminar </button>
                <a href="{% url 'alevinaje:vitamina_list' %}" class="btn btn-default">Volver</a>
              </div>
            </div>
                </form>
        </div>
    </div>
</div>


  
{% endblock %}