{% load staticfiles %}
{% load carton_tags %}
{% get_cart as cart %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title> DEPROSOFTWARE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Shortcut Icon" type="image/x-icon" href="{% static 'base/assets/icons/book.ico'%}" />
    <link rel="stylesheet" href="{% static 'base/css/sweet-alert.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    {% block css %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<style>
 select option {
   text-transform:capitalize;
}
select {
   text-transform:capitalize;
}
</style>
<body>
    <div class="navbar-lateral full-reset">
        <div class="visible-xs font-movile-menu mobile-menu-button"></div>
        <div class="full-reset container-menu-movile custom-scroll-containers">
            <div class="logo full-reset all-tittles">
                <i class="visible-xs zmdi zmdi-close pull-left mobile-menu-button" style="line-height: 55px; cursor: pointer; padding: 0 10px; margin-left: 7px;"></i> 
                 DEPROSOFTWARE
            </div>
            <div class="full-reset" style="background-color:#2B3D51; padding: 10px 0; color:#fff;">
                <figure>
                    <img src="{% static 'base/assets/img/fish.png' %}" alt="Biblioteca" class="img-responsive center-box" style="width:55%;">
                </figure>
            </div>
            <div class="full-reset nav-lateral-list-menu">
                <ul class="list-unstyled">
                    <li><a href="{% url 'core:panel' %}"><i class="zmdi zmdi-home zmdi-hc-fw"></i>&nbsp;&nbsp; Inicio</a></li>
                    {% if request.user.is_administrador %}
                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i>&nbsp;&nbsp; Registro<i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'camada:productor_create'%}"><i></i>&nbsp;&nbsp;  Productor</a></li>
                            <li><a href="{% url 'camada:especie_create'%}"><i></i>&nbsp;&nbsp;  Especies</a></li>
                            <li><a href="{% url 'camada:alimento_create'%}"><i></i>&nbsp;&nbsp; Alimento</a></li>
                            <li><a href="{% url 'camada:estanque_create'%}"><i></i>&nbsp;&nbsp; Estanque</a></li>
                            <li><a href="{% url 'alevinaje:vitamina_create'%}"><i></i>&nbsp;&nbsp; Vitaminas</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-case zmdi-hc-fw"></i>&nbsp;&nbsp; Movimientos <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'camada:camada_create'%}"><i></i>&nbsp;&nbsp; Desove</a></li>

                            <li><a href="{% url 'alevinaje:alevinaje_create'%}"><i></i>&nbsp;&nbsp; Alevinaje</a></li>
                            <li>
                            <div class="dropdown-menu-button">&nbsp;&nbsp;&nbsp; Ventas <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                            <ul class="list-unstyled">

                                <li><a href="{% url 'ventas:ventas_list'%}"><i></i>&nbsp;&nbsp; Pedidos</a></li>
                            </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-assignment-o zmdi-hc-fw"></i>&nbsp;&nbsp; Consulta <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'camada:productor_list'%}"><i></i>&nbsp;&nbsp; Productores</a></li>

                            <li><a href="{% url 'camada:especie_list'%}"><i></i>&nbsp;&nbsp; Especies</a></li>
                            
                            <li><a href="{% url 'camada:alimento_list'%}"><i></i>&nbsp;&nbsp; Alimentos</a></li>

                            <li><a href="{% url 'camada:estanque_list'%}"><i></i>&nbsp;&nbsp; Estanques</a></li>
                            <li><a href="{% url 'camada:estanque_list_m'%}"><i></i>&nbsp;&nbsp; Estanques en Mantenimiento</a></li>


                            <li><a href="{% url 'alevinaje:vitamina_list'%}"><i></i>&nbsp;&nbsp; Vitaminas</a></li>
                            <li><a href="{% url 'camada:camada_list'%}"><i></i>&nbsp;&nbsp; Desove en Formación (larvas)</a></li>
                            <li><a href="{% url 'camada:camada_list_g'%}"><i></i>&nbsp;&nbsp; Desove en Gestación (post-larvas)</a></li>
                            <li><a href="{% url 'camada:camada_list_l'%}"><i></i>&nbsp;&nbsp; Desoves Listas</a></li>
                            <li><a href="{% url 'camada:camada_list_p'%}"><i></i>&nbsp;&nbsp; Desoves Perdidas</a></li>

                            <li><a href="{% url 'alevinaje:alevinaje_list'%}"><i></i>&nbsp;&nbsp; Alevinajes en Gestación</a></li>
                            <li><a href="{% url 'alevinaje:alevinaje_list_l'%}"><i></i>&nbsp;&nbsp; Alevinajes Listas</a></li>
                            <li><a href="{% url 'alevinaje:alevinaje_list_p'%}"><i></i>&nbsp;&nbsp; Alevinajes Perdidas</a></li>




                        </ul>
                    </li>


                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-trending-up zmdi-hc-fw"></i>&nbsp;&nbsp; Reportes <i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'reporte:estadistica_detail' %}"><i></i>&nbsp;&nbsp; Estadisticas  de alevinajes</a></li>
                            <li><a href="{% url 'reporte:estadistica_especie' %}"><i></i>&nbsp;&nbsp; Estadisticas de alevinajes por especie</a></li>
                            <li><a href="{% url 'reporte:estadistica_estado' %}"><i></i>&nbsp;&nbsp; Estadisticas de ventas por estado</a></li>
                        </ul>
                    </li>

                    <li>
                        <div class="dropdown-menu-button"><i class="zmdi zmdi-wrench zmdi-hc-fw"></i>&nbsp;&nbsp; Configuraciones avanzadas<i class="zmdi zmdi-chevron-down pull-right zmdi-hc-fw"></i></div>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'camada:usuario_create'%}"><i></i>&nbsp;&nbsp; Crear Usuario</a></li>
                            <li><a href="{% url 'camada:usuario_list'%}"><i></i>&nbsp;&nbsp; Listado</a></li>
                            <li><a href="{% url 'camada:formula'%}"><i></i>&nbsp;&nbsp; Formula</a></li>
                            <li><a href="{% static 'base/pdf/manual.pdf'%}" target="__blank"><i></i>&nbsp;&nbsp; Manual de usuario</a></li>

                        </ul>
                    </li>
                    {% endif %}
                    {% if request.user.is_productor %}
                    <li><a href="{% url 'ventas:alevines_list' %}"><i class="zmdi zmdi-trending-up zmdi-hc-fw"></i>&nbsp;&nbsp; Alevines Disponibles</a></li>
                    <li><a href="{% url 'ventas:mis_pedidos' %}"><i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i>&nbsp;&nbsp; Mis Pedidos</a></li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="content-page-container full-reset custom-scroll-containers">
        <nav class="navbar-user-top full-reset">
            <ul class="list-unstyled full-reset">
                <li style="color:#fff; cursor:default;">
                    <span class="all-tittles" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{%if user.is_authenticated %} {{user.username}}{%endif%}</span>
                    <span class="caret"></span>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li><a href="{% url 'camada:perfil'%}">Perfil</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/accounts/logout/">Cerrar Sesión</a></li>
                  </ul>
                </li>
                <figure>
                   <img src="{% static 'base/assets/img/user01.png' %}" alt="user-picture" class="img-responsive img-circle center-box">
                </figure>
                {% if request.user.is_productor %}
                <li style="color:#fff; cursor:default;line-height: 65px!important;">
                    <span class="all-tittles" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {%if cart.count != 0 %}<span class="badge">{{cart.count}}</span>{%endif%}
                        <i class="zmdi zmdi-shopping-cart zmdi-hc-2x"></i>
                    <span class="caret"></span>
                    </span>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2" style="min-width: 240px;">
                    {% for item in cart.items %}
                    <li >
                    <h5 style="padding: 10px;color:grey; text-align: justify;">
                        Especie: <strong>   {{ item.product.nombre }}</strong> <br>
                        Cantidad:<strong>   {{ item.quantity }}</strong> <br>
                        SubTotal:<strong>   {{ item.subtotal }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <a href="{% url 'ventas:alevines_remove'%}?id={{item.product.id}}" class="btn btn-danger"  ">X</a>
                    </h5>
                    </li>
                    <li role="separator" class="divider"></li>
                    {% endfor %}
                    <li>
                        {% if cart.count != 0%}
                        <a style="display: initial!important;"><strong>Total: {{cart.total}}</strong></a>
                        <a href="{% url 'ventas:alevines_remove'%}" style="display: initial!important;">Vaciar <i class="zmdi zmdi-shopping-cart zmdi-hc-2x "></i>
                        </a>
                    </li>
                        <a href="{% url 'ventas:alevines_pedido'%}" class="btn btn-primary full-reset" style="padding: 10px;">Realizar Pedido</a>
                        {% else %}
                        <a>No posee nada en el carrito</a>
                        {% endif %}
                  </ul>
                </li>

                {% endif %}
                <li style="color:#fff; cursor:default;line-height: 65px!important;">
                    <span class="all-tittles" class="dropdown-toggle" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {%if pendientes != 0 %}<span class="badge">{{pendientes}}</span>
                        <i class="zmdi zmdi-notifications-active zmdi-hc-2x"></i>
                        {% else %}
                        <i class="zmdi zmdi-notifications zmdi-hc-2x"></i>

                        {%endif%}
                    <span class="caret"></span>
                    </span>
                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu3" style="min-width: 240px; max-width: 340px;">
                    <li>
                        <a href="{% url 'core:notificaciones' %}">Ver todas las notificaciones</a>
                    </li>
                    {% for notificacion in notificaciones %}
                    <li >
                        <div class="row">
                            <div class="col-xs-2">
                                {% if notificacion.estatus %}
                                <img src="{% static 'base/assets/img/success.png' %}" alt="user-picture" class="img-responsive img-circle center-box" style="vertical-align: bottom; margin: 10px;" width="100">
                                {% else%}
                                <img src="{% static 'base/assets/img/error.png' %}" alt="user-picture" class="img-responsive img-circle center-box" style="margin: 10px;" width="100"> 
                                
                                {% endif %}
                            </div>

                            <div class="col-xs-6">
                                <h5 style="padding: 4px;color:grey;">
                                    Productor:<strong> {{ notificacion.usuario.first_name }} {{ notificacion.usuario.last_name }}</strong> <br>
                                    <strong>   {{ notificacion.contenido }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <br>
                                    <p style="color:grey">{{notificacion.fecha}}</p>
                                    {% if notificacion.estatus%}
                                    <p style="color:green">Leida </p>

                                    {% else%}
                                    <p style="color:red">No leida</p>
                                    {% endif %}
                                </h5>
                                
                            </div>
                            <div class="col-xs-4">
                                    <a style="vertical-align: bottom;padding: 10px 30px;" href="{% url 'ventas:alevines_detail' notificacion.url %}?noti={{notificacion.id}}" class="btn btn-success">Ir</a>
                            </div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    {% endfor %}
                    {% if notificaciones.count == 0 %}
                    <li>
                        <a>No tienes notificaciones pendientes</a>
                        
                    </li>
                
                    {% endif %}

                  </ul>
                </li>

            </ul>
        </nav>
        
        <div class="modal fade" tabindex="-1" role="dialog" id="ModalHelp">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center all-tittles">ayuda del sistema</h4>
                </div>
                <div class="modal-body">
                    Aun No Disponible.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> &nbsp; De acuerdo</button>
                </div>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
        <footer class="footer full-reset" style="margin-top: 230px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="all-tittles">Acerca de</h4>
                        <p>
                            Aplicación Web para el registro, control y Ventas de Alevines en la estacion  Piscicola Papelon  del Municipio Guanare
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h4 class="all-tittles">Desarrollador</h4>
                        <ul class="list-unstyled">
                            <li><i class="zmdi zmdi-check zmdi-hc-fw"></i>&nbsp; Carlos Carrasquel <i class="zmdi zmdi-facebook zmdi-hc-fw footer-social"></i><i class="zmdi zmdi-twitter zmdi-hc-fw footer-social"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright full-reset all-tittles">© 2018-2019 UPTP</div>
        </footer>
    </div>
<script src="{% static 'base/js/modernizr.js' %}"></script>
<script src="{% static 'base/js/jquery-2.1.4.min.js'%}"></script>
<script src="{% static 'base/js/bootstrap.min.js' %}"></script>
<script src="{% static 'base/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'base/js/main.js' %}"></script>

<script src="{% static 'base/js/sweet-alert.min.js' %}"></script>

<script type="text/javascript" src="{% static 'base/js/jquery.dataTables.min.js'%}"></script>
<script type="text/javascript" src="{% static 'base/js/dataTables.bootstrap.min.js'%}"></script>


<!--<script type="text/javascript">$('#sampleTable').DataTable();</script>-->
<script type="text/javascript">
    $('#sampleTable').DataTable(
{
        "language": {
            "url": "{% static 'base/js/Spanish.json'%}"
        },
    });

$('#sampleTable1').DataTable(
{
        "language": {
            "url": "{% static 'base/js/Spanish.json'%}"
        },
        dom: 'p'
    });

</script>

{% block javascript %}
{% endblock %}
</body>

</html>
</body>
</html>


