

{% extends  'panel/base.html'%}

{% load staticfiles %}

{%block title%}{% endblock title%}

{% block content%}
<div class="container">
    <div class="page-header">
      <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
    </div>
</div>
<div class="container-fluid"  style="margin: 50px 0;">
  <div class="row">
          <img src="{% static 'base/assets/img/fish2.png'%}" alt="user" class="img-responsive center-box" style="max-width: 300px;">
      <div class="col-xs-12 col-sm-4 col-md-2">
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
      	<center>
          <h1 style="text-transform: uppercase;">Bienvenido {{request.user.get_full_name}} al panel admin <br>DEPROSOFTWARE </h1>
      		
      	</center>
      </div>
  </div>
</div>
{% endblock %}

