
{% extends 'panel/base.html' %}
{% block title %}Listado De Las Alimentos{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
    <div class="row">
      <div class="col-xs-4">
          <img src="{% static 'base/assets/img/fish2.png'%}" alt="user" class="img-responsive center-box" style="max-width: 110px;"> 
      </div>
      <div class="col-xs-8">
          <h1>Listado de Notificaciones</h1>
          <div class="col-sm-8 col-md-8 text-justify lead">
            Bienvenido a esta sección, aquí se muestran todos las notificaciones<br>
           </div>
        
      </div>
  </div>
    </div>
</div>
  <div class="row container-fluid">
    <div class="col-sm-12">
      <div class="div-table" style="margin:0 !important;">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable1" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                      <th>N°</th>                    
                      <th>Productor</th>
                      <th>Contenido</th>
                      <th>Fecha</th>
                      <th>Estatus</th>

                      <th>Ver</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    {% if todas_notificaciones %}
                      {% for notificacion in todas_notificaciones %}
                      <td >{{forloop.counter}}</td>
                      <td>{{ notificacion.usuario.first_name }} {{ notificacion.usuario.last_name }}</td>
                      <td>{{ notificacion.contenido }}</td>
                      <td>{{ notificacion.fecha }}</td>
                      {% if notificacion.estatus%}
                      <td align="center">
                        <img src="{% static 'base/assets/img/success.png' %}" alt="user-picture" class="img-responsive img-circle center-box" style="vertical-align: bottom; margin: 10px;" width="30">
                        Leida
                      </td>
                      {% else %}
                      <td align="center">
                        <img src="{% static 'base/assets/img/error.png' %}" alt="user-picture" class="img-responsive img-circle center-box" style="vertical-align: bottom; margin: 10px;" width="30">
                        No leida
                      </td>
                      {% endif %}

                      <td align="center"><a style="vertical-align: bottom;padding: 10px 30px;" href="{% url 'ventas:alevines_detail' notificacion.url %}?noti={{notificacion.id}}" class="btn btn-success">Ir</a>
                      </td>
                        </div>
                        </tr>
                      
                      {% endfor %}
                    {% else %}
                        <td valign="top" colspan="7" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>             
        </div>
      </div>
    </div>
  </div>
  </script>
{% endblock %}














