
{% extends 'panel/base.html' %}
{% block title %}Registro{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
    <div class="row">
      <div class="col-xs-5">
          <img src="{% static 'base/assets/img/fish2.png'%}" alt="user" class="img-responsive center-box" style="max-width: 110px;"> 
      </div>
      <div class="col-xs-7">
          <h1>Actualización de Perfil</h1>
        
      </div>
  </div>
    </div>
</div>
<div class="container-fluid">
  <div class="container-flat-form">
      <div class="title-flat-form title-flat-blue">Mi perfil</div>
      <form method="POST" id="form" role="form">{% csrf_token %}
          <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              
              <!-- Formulario Secretarias -->
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 tab-pane fade active in" id="Actividad">
                <br>
                <div class="material-control tooltips-general">    

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_nombre">Cedula</label>
                    <br>
                    <br>
                    <p>{{request.user.cedula}}</>
                  </div>

                  <div class="group-material col-md-6" style="margin-bottom: 5px;">
                    <label for="id_taza_m">Nombre </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" required="" value="{{request.user.first_name}}" onkeypress="return soloLetras(event)" name="first_name" id="id_first_name" placeholder="Nombre" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.first_name }}</span>
                  </div>

                  <div class="group-material col-md-6" style="margin-bottom: 5px;">
                    <label for="id_taza_m">Apellido </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" required="" value="{{request.user.last_name }}" onkeypress="return soloLetras(event)" name="last_name" id="last_name" placeholder="Apellido" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.last_name }}</span>
                  </div>


                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_m">Correo Electronico </label>
                    <br>
                    <br>
                    <input type="email" class="form-control" required="" value="{{request.user.email }}"  name="email" id="email" placeholder="{{form.email.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ error }}</span>
                  </div>
                  {% if request.user.is_productor %}
                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_m">Estado </label>
                    <br>
                    <br>
                    {{form.estados}}
                    <span class="help-block text-danger">{{ form.errors.estados }}</span>
                  </div>
                  {% endif %}
                  
                  
                  
                <center><button type="submit" class="btn btn-primary" value="Guardar"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                
                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button></center>
              </div>
            </div>
         </div>
     </form>
  </div>
</div>
<script>

  function valida(e){
    tecla = (document.all) ? e.keyCode : e.which;

    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }
        
    // Patron de entrada, en este caso solo acepta numeros
    patron =/[0-9]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
  }

  function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toLowerCase();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
    especiales = [8, 37, 39, 46];

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
  }
</script>
{% endblock %}








