
{% extends 'panel/base.html' %}
{% block title %}Registro{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div class="row">
            <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="container-flat-form">
      <div class="title-flat-form title-flat-blue">Crear Administrador</div>
      <form method="POST" id="form" role="form">{% csrf_token %}
          <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              
              <!-- Formulario Secretarias -->
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 tab-pane fade active in" id="Actividad">
                <br>
                <div class="material-control tooltips-general">    

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_nombre">{{form.cedula.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" required=""  onkeypress="return valida(event)" name="cedula" id="id_cedula" placeholder="{{form.cedula.label }}" autocomplete="off" maxlength="8" minlength="7">
                    <span class="help-block text-danger">{{ form.errors.cedula }}</span>
                  </div>

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_m">{{form.first_name.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" required="" onkeypress="return soloLetras(event)" name="first_name" id="id_first_name" placeholder="{{form.first_name.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.first_name }}</span>
                  </div>

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_m">{{form.last_name.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" required="" onkeypress="return soloLetras(event)" name="last_name" id="last_name" placeholder="{{form.last_name.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.last_name }}</span>
                  </div>


                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_m">{{form.email.label }} </label>
                    <br>
                    <br>
                    <input type="email" class="form-control" required="" name="email" id="email" placeholder="{{form.email.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.email }}</span>
                  </div>
                  
                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_m">{{form.username.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" required="" onkeypress="return soloLetras(event)" name="username" id="username" placeholder="{{form.username.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.username }}</span>
                  </div>
                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_m">{{form.password1.label }}</label>
                    <br>
                    <br>
                    <input type="password" class="form-control" required="" name="password1" id="id_password1" placeholder="{{form.password1.label }}" autocomplete="off" minlength="8">
                    <span class="help-block text-danger">{{ form.errors.password1 }}</span>
                  </div>
                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_m">{{form.password2.label }}</label>
                    <br>
                    <br>
                    <input type="password" class="form-control" required="" name="password2" id="id_password2" placeholder="{{form.password2.label }}" autocomplete="off" minlength="8">
                    <span class="help-block text-danger">{{ form.errors.password2 }}</span>
                  </div>
                <center><button type="submit" class="btn btn-primary" value="Guardar"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                
                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button></center>
              </div>
            </div>
         </div>
     </form>
  </div>
</div>
<script>

  function valida(e){
    tecla = (document.all) ? e.keyCode : e.which;

    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }
        
    // Patron de entrada, en este caso solo acepta numeros
    patron =/[0-9]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
  }

  function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toLowerCase();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
    especiales = [8, 37, 39, 46];

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
  }
</script>
{% endblock %}








