{% extends 'panel/base.html' %}
{% block title %}Estadistica{% endblock %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'base/js/jquery.js' %}"></script>
<script src="{% static 'base/js/html2canvas.js' %}"></script>

<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}

</style>
<div class="container">
    <div class="page-header">
        <div class="row">
            <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="container-flat-form" >
      <div class="title-flat-form title-flat-blue">Estadisticas de Alevinajes</div>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <div class="form-group">
              <label for="sel1">Seleccione el mes</label>
              <select class="form-control" id="sel1">
                <option value="">Seleccione un mes</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
            </div> 

        </div>
        <div class="col-sm-3">
            <div class="form-group">
              <label for="sel3">Año</label>
              <select class="form-control" id="sel3">
                <option value="">Seleccione un año</option>
              </select>
            </div> 
               
        </div>
        <div class="col-sm-1">
            <div class="form-group">
              <label for="sel3">Buscar</label>
              <button class="btn btn-primary" id="search"><span class="glyphicon glyphicon-search"></span></button>
            </div> 
               
        </div>
        
      </div>
      <div class="row">
        <div class="col-sm-12" >
          <div>
            <center id="imp">
              <h4>Estadisticas de Alevinaje</h4>
            <div id="chartdiv">
            </div>
            </center>
          </div>
          
          </div>
      </div>
      <div id="est" style="display: none;">{{alevinaje}}</div>

    <!-- Resources -->
    <script src="{% static 'base/js/amchart/core.js'%}"></script>
    <script src="{% static 'base/js/amchart/charts.js'%}"></script>
    <script src="{% static 'base/js/amchart/animated.js'%}"></script>
    <script type="text/javascript">
        var today = new Date()
        yyyy = today.getFullYear()
        html = '<option value="">Seleccione un año</option>';

        for (var i = 0; i < 10; i++, yyyy--) {
            html = html + '<option>' + yyyy + '</option>';
        };

        inpYear = document.getElementById('sel3').innerHTML=html;
        
        $('#search').on('click',function(){
          mes = $('#sel1 :selected').val()
          ano = $('#sel3 :selected').val()
          if(mes == 0 || ano == 0 ){
            alert('Selecciona mes o año')
          }else{
            var data = {
              mes:mes,
              ano:ano,
              csrfmiddlewaretoken:"{{csrf_token}}",
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            }
            url = "{% url 'reporte:estadistica_detail'%}"
            $.ajax({
              type: "POST",
              url: url,
              data: data,
              success: function(data){
                if(data[2].found == "False"){
                  $('#chartdiv').html('<center><h2>No se encontraron resultados</h2></center>')
                }else{
                  chart(data)
                }
              },
            });
          }
        })
      </script>

    <!-- Chart code -->
    <script>
      var li = []
      var alevinaje =document.getElementById('est').innerHTML;
      eval('var obj='+alevinaje);

      if(obj[2].found == "False"){
        $('#chartdiv').html('<center><h2>No se encontraron resultados</h2></center>')
      }else{
        chart(obj)
      }

    function chart(data){
        am4core.useTheme(am4themes_animated);
        // Themes end
    
        // Create chart instance
        var chart = am4core.create("chartdiv", am4charts.PieChart);
        chart.exporting.menu = new am4core.ExportMenu();
        chart.exporting.menu.items = [{
        "label": "...",
        "menu": [
        { "label": "Imprimir", "type": "print" },
        ]
        }];
    
        // Add data
        chart.data = data;
    
        // Set inner radius
        chart.innerRadius = am4core.percent(50);
    
        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "count";
        pieSeries.dataFields.category = "nombre";
        pieSeries.slices.template.stroke = am4core.color("#fff");
        pieSeries.slices.template.strokeWidth = 2;
        pieSeries.slices.template.strokeOpacity = 1;
    
        // This creates initial animation
        pieSeries.hiddenState.properties.opacity = 1;
        pieSeries.hiddenState.properties.endAngle = -90;
        pieSeries.hiddenState.properties.startAngle = -90;
        var g = document.getElementsByTagName("g")[0].childNodes[1].lastChild.childNodes[0];
        g.children[2].remove()
      }
    </script>
  </div>
</div>

{% endblock %}








