
{% extends 'panel/base.html' %}
{% block title %}Actualización{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
    <div class="row">
        <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
  </div>
    </div>
</div>
<div class="container-fluid">
  <div class="container-flat-form">
      <div class="title-flat-form title-flat-blue">Actualizar Estatus</div>
      <form method="POST" id="form" role="form">{% csrf_token %}
          <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              
              <!-- Formulario Secretarias -->
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 tab-pane fade active in" id="Actividad">
                <br>
                <div class="material-control tooltips-general">    

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">

                    {% if form.is_active.value %}
                    <center><label for="id_nombre">Desactivar Productor</label></center>
                    <input type="checkbox" checked="" name="is_active" id="id_is_active" class="form-control" >
                    <span class="help-block text-success">Nota:Al desactivar al productor,el no podrá acceder al sistema</span>
                    {% else %}
                    <center><label for="id_nombre">Activar Productor</label></center>
                    <input type="checkbox"  name="is_active" id="id_is_active" class="form-control" >
                    <span class="help-block text-success">Nota:Al activar al productor,el podrá acceder al sistema.</span>
                    {% endif %}
                    <span class="help-block text-danger">{{ form.errors.is_active }}</span>
                  </div>

                <center><button type="submit" class="btn btn-primary" value="Guardar"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                
                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button></center>
              </div>
            </div>
         </div>
     </form>
  </div>
</div>
<script>


  function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toLowerCase();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
    especiales = [8, 37, 39, 46];

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
  }
</script>
{% endblock %}








