
{% extends 'panel/base.html' %}
{% block title %}Listado De Las Alimentos{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
    <div class="row">
        <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
    </div>
        <div class="col-xs-12 center">
            <h1>Listado de Productores</h1>
    </div>
</div>
  <div class="row container-fluid">
    <div class="col-sm-12">
      <div class="div-table" style="margin:0 !important;">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">

                <a href="{% url 'reporte:productor'%}" target="__blank" class="btn btn-primary" style="float: right;" id="imp">Imprimir Listado</a>
                <select id="estado" class="form-control" style="float: right;margin-right: 5px;">
                  <option value="">Seleccione estado</option>
                  <option value="Amazonas">Amazonas</option>
                  <option value="Anzoategui">Anzoategui</option>
                  <option value="Aragua">Aragua</option>
                  <option value="Bolivar">Bolivar</option>
                  <option value="Carabobo">Carabobo</option>
                  <option value="Delta Amacuro">Delta Amacuro</option>
                  <option value="Portuguesa">Portuguesa</option>
                  <option value="Zulia">Zulia</option>
                  <option value="Miranda">Miranda</option>
                  <option value="Vargas">Vargas</option>
                  <option value="Apure">Apure</option>
                  <option value="Barinas">Barinas</option>
                  <option value="Cojedes">Cojedes</option>
                  <option value="Merida">Merida</option>
                  <option value="Trujillo">Trujillo</option>
                  <option value="Tachira">Tachira</option>
                  <option value="Lara">Lara</option>
                  <option value="Yaracuy">Yaracuy</option>
                  <option value="Monagas">Monagas</option>
                  <option value="Nueva Esparta">Nueva Esparta</option>
                  <option value="Guarico">Guarico</option>
                  <option value="Falcon">Falcon</option>
                  <option value="Sucre">Sucre</option>
                  <option value="Distrito Capital">Distrito Capital</option>
                </select>

                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                      <th>N°</th>                      
                      <th>Cedula</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Estado</th>
                      <th>Correo electronico</th>
                      <th>Estatus</th>
                      <th>Actualizar Estatus</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                      {% for ali in object_list %}
                      <td >{{forloop.counter}}</td>
                      <td>{{ ali.cedula }}</td>
                      <td>{{ ali.first_name.capitalize }}</td>
                      <td>{{ ali.last_name.capitalize }}</td>
                      <td>{{ ali.estados }}</td>
                      <td>{{ ali.email }}</td>
                      {% if ali.is_active%}
                      <td>Activo</td>
                      {% else %}
                      <td>Inactivo</td>
                      {% endif %}
                   
                      
                      <td align="center"><a href="{% url 'camada:productor_update' pk=ali.pk%}" class="btn btn-success"><i class="zmdi zmdi-refresh"></a></td>
                        </div>
                        </tr>
                      
                      {% endfor %}
                    {% else %}
                        <td valign="top" colspan="7" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>             
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    boton = document.getElementById('imp');
    boton.addEventListener('click',function (e) {
      e.preventDefault()
      url = boton.href;
      estado = document.getElementById('estado').value;
      window.open(url+'?estado='+estado, '_blank');
    })
  </script>
{% endblock %}














