
{% extends 'panel/base.html' %}
{% block title %}Registro{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div class="row">
            <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
        </div>
    </div>
</div>
<div class="container-fluid">
  <div class="container-flat-form">
      <div class="title-flat-form title-flat-blue">Actualización de Estanque</div>
      <form method="POST" id="form" role="form" onsubmit="calculo(event);">{% csrf_token %}
          <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              
              <!-- Formulario Secretarias -->
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 tab-pane fade active in" id="Actividad">
                <br>
                <div class="material-control tooltips-general">    

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_numero">{{form.estatus.label }} </label>
                    <br>
                    <br>
                    {{form.estatus}}
                    {{form.fecha}}
                    <span class="help-block text-danger">{{ form.errors.estatus }}</span>
                  </div>

                  
                <center><button type="submit" class="btn btn-primary" value="Guardar" id="save"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                
                </center>
              </div>
            </div>
         </div>
     </form>
  </div>
</div>
<script type="text/javascript" src="{% static 'base/js/moment.js'%}"></script>
<script>
  document.getElementById('id_fecha').style = 'display:none;'
  fecha = document.getElementById('id_fecha').value.split('/')
  fecha_p = fecha[1]+'/'+fecha[0]+'/'+fecha[2]
  fecha_actual = moment()
  fecha_mantenimiento =moment(fecha_p)
  resta = fecha_actual.diff(fecha_mantenimiento,'days')

  select = document.getElementById('id_estatus')
  select.addEventListener("change", function(){
    console.log('resta',resta)
    if (resta<10) {
      err = document.getElementsByClassName('help-block')[0];
      dias = 10-resta
      err.innerHTML= 'No puede cambiar el estanque a disponible, porque no ha cumplido el periodo mínimo requerido. faltan '+dias+' dias.'
      select.value='Mantenimiento';
      document.getElementById('save').disabled=true;

    }else{
      document.getElementById('save').disabled=false;

    }
  });
  console.log(resta)
  console.log(fecha_actual,fecha_mantenimiento)
</script>
{% endblock %}








