
{% extends 'panel/base.html' %}
{% block title %}Listado De Las Estanques{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="row">
                <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
            </div>
                <div class="col-xs-12 center">
                    <h1>Listado de Estanques</h1>
            </div>
          </div>
    </div>
</div>
  <div class="row container-fluid">
    <div class="col-sm-12">
      <div class="div-table" style="margin:0 !important;">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                      <th>N°</th>                      
                      <th>Numero</th>
                      <th>Medida</th>
                      <th>Fecha de movimiento</th>
                      <th>Estatus</th>
                      <th>Actualizar</th>
                      <!--<th>Eliminar</th>-->
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                      {% for est in object_list %}
                      <td >{{forloop.counter}}</td>
                      <td>{{est.tipo}}-{{ est.numero }}</td>
                      <td>{{ est.medida }}</td>
                      <td>{{ est.fecha }}</td>
                      <td>{{ est.estatus }}</td>

                   
                      
                      <td align="center"><a href="{% url 'camada:estanque_update' pk=est.pk%}" class="btn btn-success"><i class="zmdi zmdi-refresh"></a></td>

                      <!--<td align="center"><a href="{% url 'camada:estanque_delete' pk=est.pk%}" class="btn btn-danger"><i class="zmdi zmdi-delete"></a></td>-->
                        </tr>
                      
                      {% endfor %}
                    {% else %}
                        <td valign="top" colspan="7" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>             
        </div>
      </div>
    </div>
  </div>
  </script>
{% endblock %}














