
{% extends 'panel/base.html' %}
{% block title %}Registro{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
    <div class="row">
        <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
  </div>
    </div>
</div>
<div class="container-fluid">
  <div class="container-flat-form">
      <div class="title-flat-form title-flat-blue">Actualización de Especie</div>
      <form method="POST" id="form" role="form" onsubmit="calculo(event);">{% csrf_token %}
          <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              
              <!-- Formulario Secretarias -->
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 tab-pane fade active in" id="Actividad">
                <br>
                <div class="material-control tooltips-general">    

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_nombre">{{form.nombre.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" onkeypress="return soloLetras(event)" name="nombre" id="id_nombre" placeholder="{{form.nombre.label }}" value="{{form.nombre.value }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.nombre }}</span>
                  </div>

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_m">{{form.taza_m.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" onkeypress="return valida(event)" value="{{form.taza_m.value }}" name="taza_m" id="id_taza_m" placeholder="{{form.taza_m.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.taza_m }}</span>
                  </div>
                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_h">{{form.taza_s.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" onkeypress="return valida(event)" value="{{form.taza_s.value }}" name="taza_s" id="id_taza_s" placeholder="{{form.taza_s.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.taza_s }}</span>
                    <span class="help-block text-danger">nota: La suma de la taza de mortalidad y sobreviencia debe llegar a 100%</span>

                  </div>
                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_h">{{form.ovas.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" onkeypress="return valida(event)" value="{{form.ovas.value }}" name="ovas" id="id_ovas" placeholder="{{form.ovas.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.ovas }}</span>

                  </div>

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_precio">{{form.precio.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" onkeypress="return valida(event)" value="{{form.precio.value }}" name="precio" id="id_precio" placeholder="{{form.precio.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.precio }}</span>
                  </div>

                <center><button type="submit" class="btn btn-primary" value="Guardar"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                
                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button></center>
              </div>
            </div>
         </div>
     </form>
  </div>
</div>
<script>
  function calculo(e) {
    e.preventDefault();

    var nombre = document.getElementById('id_nombre').value;
    var precio = document.getElementById('id_precio').value;
    var taza_m = document.getElementById('id_taza_m').value;
    var taza_s = document.getElementById('id_taza_s').value;

    if(nombre == '' || precio == '' || taza_m == '' || taza_s == ''){
      alert('por favor introduzca todos los datos');
      return false;
    }else{
      var suma = parseInt(taza_m)+parseInt(taza_s);
      console.log(suma);
      if(suma != 100){
        alert('Los porcentajes no coinciden, verificque los valores de las tazas introducidos');
        return false;
      }
    } 

    console.log("correto");
    document.getElementById("form").submit();
    
  }
  function valida(e){
    tecla = (document.all) ? e.keyCode : e.which;

    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }
        
    // Patron de entrada, en este caso solo acepta numeros
    patron =/[0-9]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
  }

  function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toLowerCase();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
    especiales = [8, 37, 39, 46];

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
  }
</script>
{% endblock %}








