
{% extends 'panel/base.html' %}
{% block title %}Registro{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="page-header">
    <div class="row">
        <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
  </div>
    </div>
</div>
<div class="container-fluid">
  <div class="container-flat-form">
      <div class="title-flat-form title-flat-blue">registro de Desove</div>
      <form method="POST" id="form" role="form" onsubmit="calculo(event);">{% csrf_token %}
          <div class="row">
            <div class="container-fluid">
                <ul class="nav nav-tabs nav-justified"  style="font-size: 17px;">
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
              
              <!-- Formulario Secretarias -->
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 tab-pane fade active in" id="Actividad">
                <br>
                <div class="material-control tooltips-general">    
                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_h">{{form.especie.label }} </label>
                    <br>
                    <br>
                    {{form.especie}}
                    <span class="help-block text-danger">{{ form.errors.especie }}</span>

                  </div>

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_cantidad_h">{{form.cantidad_h.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" onkeypress="return valida(event)" name="cantidad_h" id="id_cantidad_h" placeholder="{{form.cantidad_h.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.cantidad_h }}</span>
                  </div>


                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_cantidad_m">{{form.cantidad_m.label }} </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" onkeypress="return valida(event)" name="cantidad_m" id="id_cantidad_m" placeholder="{{form.cantidad_m.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.cantidad_m }}</span>
                  </div>

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_cantidad_h">{{form.cantidad_k.label }} (KG) </label>
                    <br>
                    <br>
                    <input type="text" class="form-control" onkeypress="return valida(event)" name="cantidad_k" id="id_cantidad_k" placeholder="{{form.cantidad_k.label }}" autocomplete="off" >
                    <span class="help-block text-danger">{{ form.errors.cantidad_k }}</span>
                  </div>

                  
                  
                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_h">{{form.estanque.label }} N°</label>
                    <br>
                    <br>
                    {{form.estanque}}
                    <span class="help-block text-danger">{{ form.errors.estanque }} </span>
                    <span class="help-block text-danger" id="no" style="display: none;">No tienes estanques disponibles si deseas registrar un nuevo estanque dirigete <a href="{% url 'camada:estanque_create'%}">Aqui</a></span>


                  </div>

                  <div class="group-material col-md-12" style="margin-bottom: 5px;">
                    <label for="id_taza_h">{{form.alimento.label }} </label>
                    <br>
                    <br>
                    {{form.alimento}}
                    <span class="help-block text-danger">{{ form.errors.alimento }}</span>

                  </div>


                <center><button type="submit" class="btn btn-primary" value="Guardar"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                
                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button></center>
              </div>
            </div>
         </div>
     </form>
  </div>
</div>
<script type="text/javascript" src="{% static 'base/js/jquery.js'%}"></script>
<script>

var estanque1 = document.getElementById('id_estanque');
  if (estanque1.length == 1){
      document.getElementById('no').style.display = "block";
  }

  console.log(estanque1.length);
  function calculo(e) {
    e.preventDefault();
    var especie = document.getElementById('id_especie').value;
    var alimento = document.getElementById('id_alimento').value;
    var estanque = document.getElementById('id_estanque').value;
    var cantidad_h = document.getElementById('id_cantidad_h').value;
    var cantidad_m = document.getElementById('id_cantidad_m').value;
    var cantidad_k = document.getElementById('id_cantidad_k').value;

    console.log(especie,alimento,estanque,cantidad_h,cantidad_m);

    if(especie == '' || estanque == '' || alimento == '' || cantidad_h == '' || cantidad_m == '')
    {
      alert('por favor introduzca todos los datos');
      return false;
    }else if(cantidad_h >2){
      alert('Ejemplares Hembras: Debe introducir un valor menor a 2');
      return false;
    }else if(cantidad_m >4){
      alert('Ejemplares Machos: Debe introducir un valor menor a 4');
      return false;
    }else if(cantidad_k >5){
      alert('Cantidad de kilos debe ser menor o igual a 5');
      return false;
    }

    console.log("correto");
    document.getElementById("form").submit();
    
  }

  function valida(e){
    tecla = (document.all) ? e.keyCode : e.which;

    //Tecla de retroceso para borrar, siempre la permite
    if (tecla==8){
        return true;
    }
        
    // Patron de entrada, en este caso solo acepta numeros
    patron =/[0-9]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
  }

  function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toLowerCase();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
    especiales = [8, 37, 39, 46];

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial)
        return false;
  }
</script>
{% endblock %}








