
{% extends 'panel/base.html' %}
{% block title %}Listado De Las Camadas en formación{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="page-header">
    <div class="row">
        <div class="row">
            <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
        </div>
            <div class="col-xs-12 center">
                <h1>Listado de Larvas</h1>
        </div>
  </div>
    </div>
</div>
  <div class="row container-fluid">
    <div class="col-sm-12">
      <div class="div-table" style="margin:0 !important;">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <a href="{% url 'reporte:camada_f'%}" target="__blank" class="btn btn-primary" style="float: right;" id="imp">Imprimir Listado</a>
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                      <th>N°</th>                      
                      <th>Especie</th>
                      <th>Fecha</th>
                      <th>Cantidad ejemplares Hembras</th>
                      <th>Cantidad ejemplares Machos</th>
                      <th>Cantidad ejemplares Esperados</th>
                      <th>Estanque N°</th>
                      <th>Alimento</th>
                      <th>Actualizar</th>
                      <th>Eliminar</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                      {% for camada in object_list %}
                      <td >{{forloop.counter}}</td>
                      <td>{{ camada.especie.nombre.capitalize }}</td>
                      <td>{{ camada.fecha }}</td>
                      <td>{{ camada.cantidad_h }}</td>
                      <td>{{ camada.cantidad_m }}</td>
                      <td>{{ camada.cantidad_e }}</td>
                      <td>{{ camada.estanque }}</td>
                      <td>{{ camada.alimento.nombre.capitalize }}</td>
                      
                      <td align="center"><a href="{% url 'camada:camada_update' pk=camada.pk%}" class="btn btn-success"><i class="zmdi zmdi-refresh"></a></td>

                      <td align="center"><a href="{% url 'camada:camada_delete' pk=camada.pk%}" class="btn btn-danger"><i class="zmdi zmdi-delete"></a></td>
                        </div>
                        </tr>
                      
                      {% endfor %}
                    {% else %}
                        <td valign="top" colspan="10" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>             
        </div>
      </div>
    </div>
  </div>
  </script>
{% endblock %}














