
{% extends 'panel/base.html' %}
{% load staticfiles %}
{% block content %}
{% load carton_tags %}
{% get_cart as cart %}
<div class="container">
    <div class="page-header">
    <div class="row">
      <div class="col-xs-4">
          <img src="{% static 'base/assets/img/fish2.png'%}" alt="user" class="img-responsive center-box" style="max-width: 110px;"> 
      </div>
      <div class="col-xs-8">
          <h1>Alevines disponibles</h1>
          <div class="col-sm-8 col-md-8 text-justify lead">
            <strong class="text-danger">Listado de alivines disponibles para comprar</strong></div>
        
      </div>
  </div>
    </div>
</div>


<style type="">
  .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
</style>
  <div class="row container-fluid">
    <div class="col-sm-12">
      <div class="div-table" style="margin:0 !important;">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                      <th>N°</th>                      
                      <th>Nombre de la especie</th>
                      <th>Precio unitario</th>
                      <th>Cantidad Disponible</th>
                      <th>Cantidad</th>
                      <th>Compra</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                      {% for ali in object_list %}
                      <td >{{forloop.counter}}</td>
                      <td>{{ ali.camada.especie.nombre }}</td>
                      <td>{{ ali.camada.especie.precio }}</td>
                      <td>{{ ali.cantidad }}</td>
                      <td>
                        <form method="post" id="form{{ali.pk}}" action="{% url 'ventas:alevines_list'%}">
                          {% csrf_token %}
                          <input type="number" class="form-control" name="cantidad" id="cantidad{{ali.pk}}">
                          <input type="number"  class="hidden" name="alevin" value="{{ali.camada.especie.pk}}" id="id{{ali.pk}}">
                          <input type="number"  class="hidden" name="id" value="{{ali.pk}}">
                        </form>
                      </td>

                      <td align="center"><button type="submit" id="enviar{{ali.pk}}" onclick="enviar('{{ali.pk}}','{{ali.cantidad}}')" class="btn btn-success">Añadir al carrito</button><span class="hidden glyphicon glyphicon-refresh glyphicon-refresh-animate" style="color:black; padding: 5px;" id="spinner{{ali.pk}}"></span></td>

                        </div>
                        </tr>
                      
                      {% endfor %}
                    {% else %}
                        <td valign="top" colspan="7" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                    {% endif %}
                      {% for item in cart.items%}
                        <input type="number" class="hidden" id="cart{{item.id_a}}" value="{{item.quantity}}">
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>             
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function enviar(id,cantidad) {
      //console.log(cantidad);
      var formulario = 'form'+String(id);
      //form1
      var button = 'enviar'+String(id);
      //button1
      spi = 'spinner'+String(id);

      spinner = document.getElementById(spi);

      var can = 'cantidad'+String(id);
      //var id = 'id'+String(id);
      var cantidad1 = document.getElementById(can).value;
      //console.log(cantidad1);
      //suma
      var cart = 'cart'+id
      var carrito = document.getElementById(cart);
      if (carrito) {
        //console.log(carrito);
        var carrito1 = document.getElementById(cart).value;
        var suma = parseInt(carrito1)+parseInt(cantidad1)
        //console.log('suma',suma,parseInt(cantidad))
        if(suma > cantidad){
          alert('Introduzca un valor menor a la cantidad disponible, revise su carrito de compra')
          return false;
        }
      }
      if(cantidad1 == ''){
          alert('Introduzcar un valor en el campo cantidad');
          return false;
      }else if(parseInt(cantidad1) > parseInt(cantidad)){
          alert('No puede Introducir un valor mayor a la cantidad disponible');
          return false;
      }else if(parseInt(cantidad1)<1){
          alert('introduzca un numero positivo');
          return false;
      }
      var form = document.getElementById(formulario);
      spinner.classList.remove("hidden");
      form.submit();
  }
  </script>
{% endblock %}














