{% extends 'panel/base.html' %}
{% block title %}Eliminar Alimento{% endblock %}
{% load staticfiles %}
{% block content %}
<script src="{% static 'base/js/jquery.js' %}"></script>

<script src="{% static 'base/js/html2canvas.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>

<div class="container-fluid"  style="margin: 50px 0;" id="imp">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">Detalle de venta</h1>
            </div>
          </div>
          <div class="row" >
            <div id="info">
              <div class="col-sm-6">
                <h2>
                  Productor: {{venta.productor.first_name}} {{venta.productor.last_name}}
                  <br>
                  Correo: {{venta.productor.email}}
                </h2>
              </div class="col-sm-6">
                <h2>
                  Cedula: {{venta.productor.cedula}}
                  <br>
                  Fecha : {{venta.fecha}}
                </h2>
              <div>
              </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable1" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                      <th>N°</th>                      
                      <th>Nombre de la especie</th>
                      <th>Precio unitario</th>
                      <th>Cantidad</th>
                      <th>Subtotal</th>

                    </tr>
                  </thead>
                  <tbody>
                      {% for detalle in detalles %}
                      <td >{{forloop.counter}}</td>
                      <td>{{ detalle.especie }}</td>
                      <td>{{ detalle.precio }}</td>
                      <td>{{ detalle.cantidad }}</td>
                      <td>{{ detalle.subtotal }}</td>


                        </div>
                        </tr>
                      
                      {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <h3>Estatus: {{venta.estatus}}</h3>
            </div>
            <div class="col-sm-2 col-sm-offset-6">
              <h3>
                Total: {{venta.total}}
              </h3>
            </div>
          </div>
            
          </div>
          <a class="btn btn-primary form-control" id="im" href="javascript:Imp()" >Imprimir</a>
            {% if request.user.is_administrador %}
            {% if venta.estatus == 'En espera' %}
            <div class="form">
              <form action="" method="post" id="form">{% csrf_token %} 
              <h3 align="center" class="text-danger"><i class="zmdi zmdi-alert-triangle"></i><br>¿Desea aceptar el pedido del productor {{ venta.productor.first_name }} {{ venta.productor.last_name }}?</h3>
              <input type="" name="acepto" class="hidden" id="acepto" value="acepto">


              <div align="center">
                <button class="btn btn-danger" onclick="declinar()">Declinar</button>
                <button class="btn btn-success" type="submit"> Si, aceptar </button>
              </div>
              </form>
            </div>
            {% endif %}

            {% endif %}

        </div>
        <div style="display: block;" id="impp"></div>

    </div>
</div>
<script type="text/javascript">

  function Imp(){
    $('#imp').css('max-width','800px')
    $('#imp').css('padding-top','40px')
    $('#im').css('display','none')
    $('#sampleTable1_wrapper').css('display','none')
    $('#info').css('margin-bottom','80px')
    html2canvas(document.querySelector("#imp")).then(canvas => {
    //document.body.appendChild(canvas)
    //$('#impp').append(canvas)
    var pdf = new jsPDF();
    pdf.addImage(canvas, 'PNG', 0, 0);
    pdf.save("download.pdf");
    $('#imp').css('max-width','100%')
    $('#imp').css('padding-top','-40px')
    $('#im').css('display','block')
    $('#sampleTable1_wrapper').css('display','block')
    $('#info').css('margin-bottom','-80px')

    });


  }
  function imprSelec() {
        var ficha = document.getElementById('impp');
        var ventimp = window.open(' ', 'popimpr');

        ventimp.document.write( ficha );
        ventimp.document.close();
        ventimp.print( );
        ventimp.close();

  }
  function declinar() {
    document.getElementById('acepto').remove();
    document.getElementById('form').submit();
  }
</script>

  
{% endblock %}