{% load staticfiles %}

<!--
    Author: W3layouts
    Author URL: http://w3layouts.com
    License: Creative Commons Attribution 3.0 Unported
    License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>DEPROSOFTWARE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Medication a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="{% static 'inicio/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'inicio/css/examples.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'inicio/css/slider-pro.css' %}" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'inicio/css/owl.carousel.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'inicio/css/owl.theme.css' %}" type="text/css" media="all">
    <link href="{% static 'inicio/css/nav.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'inicio/css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'inicio/css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'inicio/https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700' %}" rel="stylesheet">
</head>

<body>
    <div class="header-top-w3layouts">
        <header>
            <div class="top-head text-left container-fluid">
                <div class="row honey-leo">
                    <div class="col-md-6 left-info footer-grid-w3ls">
                        <ul class="social mt-lg-0 mt-3 d-flex">
                            <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                            <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>

                        </ul>
                    </div>
                    <div class="col-md-6 right-p text-right">
                        <ul>
                            <li>
                                <span class="fas fa-phone-volume"></span> 0098-765-4321</li>
                            <li>
                                <span class="far fa-clock"></span> ( Mon-Fri 9am - 8pm ) ( Sat-Sun 10am - 6pm )</li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="logo-w3">
                    <h1>
                        <a class="navbar-brand" href="index.html">
                            <i class="fab fa-hubspot"></i>DEPROSOFTWARE</a>
                    </h1>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon">
                               
                            </span>

                        </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto text-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Inicio
                                        <span class="sr-only">(current)</span>
                                    </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Servicios
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="">Servicios</a>



                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gallery.html">Galeria</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       Blog
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="">Blog </a>
                            </div>
                        </li>
                       

                        <li class="nav-item">
                            <a class="nav-link" href="/accounts/login/">login</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
    </div>

    <div id="example5" class="slider-pro">
        <div class="sp-slides">
            <div class="sp-slide">
                <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner1.jpg' %}" alt=" " data-retina="images/banner1.jpg" />

                <div class="sp-caption">DEPROSOFTWARE</div>
            </div>

            <div class="sp-slide">
                <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner2.jpg' %}" alt=" " data-retina="images/banner2.jpg" />

                <div class="sp-caption">DEPROSOFTWARE</div>
            </div>

            <div class="sp-slide">
                <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner3.jpg' %}" alt=" " data-retina="images/banner3.jpg" />

                <div class="sp-caption">DEPROSOFTWARE</div>
            </div>

            <div class="sp-slide">
                <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner4.jpg' %}" alt=" " data-retina="images/banner4.jpg" />

                <div class="sp-caption">DEPROSOFTWARE</div>
            </div>

            <div class="sp-slide">
                <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner5.jpg' %}" alt=" " data-retina="images/banner5.jpg" />

                <div class="sp-caption">DEPROSOFTWARE</div>
            </div>

            <div class="sp-slides">
                <div class="sp-slide">
                    <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner1.jpg' %}" alt=" " data-retina="images/banner1.jpg" />

                    <div class="sp-caption">DEPROSOFTWARE</div>
                </div>

                <div class="sp-slide">
                    <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner2.jpg' %}" alt=" " data-retina="images/banner2.jpg" />

                    <div class="sp-caption">DEPROSOFTWARE</div>
                </div>

                <div class="sp-slide">
                    <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner3.jpg' %}" alt=" " data-retina="images/banner3.jpg" />

                    <div class="sp-caption">DEPROSOFTWARE</div>
                </div>

                <div class="sp-slide">
                    <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner4.jpg' %}" alt=" " data-retina="images/banner4.jpg" />

                    <div class="sp-caption">DEPROSOFTWARE</div>
                </div>

                <div class="sp-slide">
                    <img class="sp-image" src="{% static 'inicio/images/blank.gif' %}" data-src="{% static 'inicio/images/banner5.jpg' %}" alt=" " data-retina="images/banner5.jpg" />

                    <div class="sp-caption">DEPROSOFTWARE</div>
                </div>
            </div>

            <div class="sp-thumbnails">
                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner1.jpg' %}"  alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 1</div>
                        <div class="sp-thumbnail-description">Dolor sit amet,</div>
                    </div>
                </div>

                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner2.jpg' %}"  alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 2</div>
                        <div class="sp-thumbnail-description">Tempor incididunt ut </div>
                    </div>
                </div>

                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner3.jpg' %}"  alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 3</div>
                        <div class="sp-thumbnail-description">Ad minim veniam,</div>
                    </div>
                </div>

                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner4.jpg' %}"  alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 4</div>
                        <div class="sp-thumbnail-description">Nisi ut aliquip ex </div>
                    </div>
                </div>

                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner5.jpg' %}"  alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 5</div>
                        <div class="sp-thumbnail-description">Irure dolor in </div>
                    </div>
                </div>

                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner1.jpg' %}"  alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 6</div>
                        <div class="sp-thumbnail-description">Dolor sit amet,</div>
                    </div>
                </div>

                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner2.jpg' %}" / alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 7</div>
                        <div class="sp-thumbnail-description">Tempor incididunt </div>
                    </div>
                </div>

                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner3.jpg' %}" / alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 8</div>
                        <div class="sp-thumbnail-description">Ad minim veniam, quis</div>
                    </div>
                </div>

                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner4.jpg' %}" / alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 9</div>
                        <div class="sp-thumbnail-description">Nisi ut aliquip ex </div>
                    </div>
                </div>

                <div class="sp-thumbnail">
                    <div class="sp-thumbnail-image-container">
                        <img class="sp-thumbnail-image" src="{% static 'inicio/images/banner5.jpg' %}" / alt="">
                    </div>
                    <div class="sp-thumbnail-text">
                        <div class="sp-thumbnail-title">Slide 10</div>
                        <div class="sp-thumbnail-description">Irure dolor in </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!--banner-bottom-w3layouts-->
    <section class="banner-bottom-w3layouts py-md-5 py-4">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-4">
                <h3 class="tittle-wthree text-center mb-lg-5 mb-3">
                    <span>Bienvenido al Sistema</span>DEPROSOFTWARE</h3>
                <div class="row mt-lg-5 mt-4">
                    <div class="col-lg-6 about-img">
                        <img src="{% static 'inicio/images/banner3.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 aboutright">
                        <h3>DEPROSOFTWARE posee una Vision y una Mision</h3>

                        <h4>Vision</h4>

                        <p>Somos una institucion componente del sistema agrario nacional, dedicado a la imnovacion agroalimentaria que fortalece los valores eticos  socialistas del modelo agrario vigente  como instrumento para la nueva sociedad; que reconoce y promueve la cultura ancestral, tradicional, formal e informal en la consolidacion  del socialismo revolucionario, cientifico y bolivariano.</p>

                        <h4>Mision</h4>

                        <p>Impulsar la imnovasion tecnologica agroalimentaria para optimizar la funcion produccion en el sistema agroalimentario nacional, bajo la estructura social comunal, en el marco del modelo agrario socialista.</p>
                        <div class="read inner mt-4">
                            <a href="" class="btn btn-sm animated-button victoria-two">Ver Mas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="offer-service bg-light py-md-5 py-4">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-4">
                <h3 class="tittle-wthree text-center mb-lg-5 mb-3">
                    <span> </span>Departamentos </h3>
                <div class="row">
                    <div class="col-lg-4 service-in text-center">
                        <div class="card">
                            <div class="card-body">
                                <i class="fab fa-react"></i>
                                <h5 class="card-title">Administracion</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 service-in text-center">
                        <div class="card">
                            <div class="card-body">
                                <i class="fas fa-flask"></i>
                                <h5 class="card-title">Investigacion</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 service-in text-center">
                        <div class="card">
                            <div class="card-body">
                                <i class="fas fa-eye-dropper"></i>
                                <h5 class="card-title">Producion</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
                                </p>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!--//news-->
    <!--/services-->
    <section class="banner-bottom-w3layouts py-lg-5 py-lg-4 py-4">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-4 py-4">
                <h3 class="tittle-wthree text-center mb-lg-5 mb-3">
                    <span>Visita</span>Nuestros servicios</h3>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="{% static 'inicio/images/g3.jpg' %}" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">capacitaciond de jovenes pasante
                                    </h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cource-box-info text-center rounded">
                            <div class="card">
                                <div class="card-body">
                                    <img src="{% static 'inicio/images/g1.jpg' %}" alt="Collegien" class="img-fluid">
                                    <h5 class="card-title mt-3">Venta de Alevines
                                    </h5>
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    
    <section class="banner-bottom-w3layouts bg-light py-md-5 py-4">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-4">
                <h3 class="tittle-wthree text-center mb-lg-5 mb-3">
                    <span>Visita nuestros</span>Próximos Eventos </h3>
                <div class="row choose-main ">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 galsses-grid-right">
                                <h5>
                                    <span class="post-color">21</span> May 2018</h5>
                                <h4 class="post my-3">Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit .. </p>
                                <div class="read inner mt-4">
                                    <a href="" class="btn btn-sm animated-button victoria-two">Ver Mas</a>
                                </div>

                            </div>
                            <div class="col-lg-6 galsses-grid-right">
                                <div class="galsses-grid-left">

                                    <img src="{% static 'inicio/images/g1.jpg' %}" alt="" class="img-fluid">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 galsses-grid-right">
                                <h5>
                                    <span class="post-color">24</span> May 2018</h5>
                                <h4 class="post my-3">Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit .. </p>
                                <div class="read inner mt-4">
                                    <a href="" class="btn btn-sm animated-button victoria-two">Ver Mas</a>
                                </div>

                            </div>
                            <div class="col-lg-6 galsses-grid-right">
                                <div class="galsses-grid-left">

                                    <img src="{% static 'inicio/images/g5.jpg' %}" alt="" class="img-fluid">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row choose-main mt-lg-5 mt-md-2">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 galsses-grid-right">
                                <h5>
                                    <span class="post-color">08</span> June 2018</h5>
                                <h4 class="post my-3">Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit .. </p>
                                <div class="read inner mt-4">
                                    <a href="" class="btn btn-sm animated-button victoria-two">Ver Mas</a>
                                </div>

                            </div>
                            <div class="col-lg-6 galsses-grid-right">
                                <div class="galsses-grid-left">

                                    <img src="{% static 'inicio/images/g3.jpg' %}" alt="" class="img-fluid">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6 galsses-grid-right">
                                <h5>
                                    <span class="post-color">11</span> June 2018</h5>
                                <h4 class="post my-3">Lorem ipsum dolor sit amet</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit .. </p>
                                <div class="read inner mt-4">
                                    <a href="" class="btn btn-sm animated-button victoria-two">Ver Mas</a>
                                </div>

                            </div>
                            <div class="col-lg-6 galsses-grid-right">
                                <div class="galsses-grid-left">

                                    <img src="{% static 'inicio/images/g2.jpg' %}" alt="" class="img-fluid">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--//events-->
    <!-- /testimonials -->
   
<section class="footer py-5">
    <div class="footer-top-w3layouts py-lg-3">
        <div class="container">
            <div class="row footer-grid-w3lss">
                <div class="col-lg-4 footer-grid-w3ls text-left">
                    <div class="footer-logo-w3">
                        <h3 class="mb-3"><a class="logo-w3" href="index.html">DEPROSOFTWARE</a></h3>
                        <p>Lorem ipsum dolor sit amet int consectetur elit. Nam eget init egestas erat. In hachabi tasse platea dictumst. hachabi elit tasse platea dictumst eget init egestas.</p>
                        <ul class="social mt-lg-0 mt-3">
                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li class="mx-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li class="mx-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                    <li class="mx-1"><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    
                </ul>
                    </div>
                </div>
                <div class="col-lg-2 footer-grid-w3ls links text-left">
                    <h3 class="mb-4"> links </h3>
                    <ul>
                        <li>
                            <a href="/">Inicio</a>
                        </li>
                        <li>
                            <a href="">Sobre Nosotros</a>
                        </li>
                        <li>
                            <a href="">Blog</a>
                        </li>
                        <li>
                            <a href="">Galeria</a>
                        </li>
                        <li>
                            <a href="/login/">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 footer-grid-w3ls links text-left">
                    <h3 class="mb-4">contact Us </h3>
                    <ul>
                        <li><strong>Address</strong> : 436 Jasmin lee hall, Cross road, NewYork City Vl049.</li>
                        <li><strong>mobile</strong> : +01(24) 3212 9436</li>
                        <li><strong>phone</strong> : +01(24) 8543 8088</li>
                        <li><strong>Mail</strong> : <a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 edu-footer-grid-w3ls text-left">
                    <h3 class="mb-4">Subscribe Now </h3>
                    <form action="#" method="post">
                        <input type="text" name="text" placeholder="Name" required="">
                        <input type="email" name="Email" placeholder="Email" required="">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- //footer -->
    <!-- copyright -->
    <div class="copy_right py-4 text-center">
        <p> DEPROSOFTWARE 2019 Todos los derechos reservados | Diseñado por <a href="https://www.facebook.com/CarlosUnTalManotas?ref=br_tf&epa=SEARCH_BOX">Carlos Carrasquel</a></p>

    </div>
    <!-- //copyright -->

    <!-- js -->
    <script src="{% static 'inicio/js/jquery-2.2.3.min.js' %}"></script>
    <!--slider-->
    <script src="{% static 'inicio/js/jquery.sliderPro.min.js' %}"></script>
    <script>
        $(document).ready(function($) {
            $('#example5').sliderPro({
                width: 1980,
                height: 650,
                orientation: 'vertical',
                loop: false,
                arrows: true,
                buttons: false,
                thumbnailsPosition: 'right',
                thumbnailPointer: true,
                thumbnailWidth: 290,
                breakpoints: {
                    800: {
                        thumbnailsPosition: 'bottom',
                        thumbnailWidth: 270,
                        thumbnailHeight: 100
                    },
                    500: {
                        thumbnailsPosition: 'bottom',
                        thumbnailWidth: 120,
                        thumbnailHeight: 50
                    }
                }
            });
        });
    </script>


    <!--//slider-->
    <script>
        $(document).ready(function() {
            $(".dropdown").hover(
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- stats -->
    <script src="{% static 'inicio/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'inicio/js/jquery.countup.js' %}"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->

    <!-- carousel -->
    <script src="{% static 'inicio/js/owl.carousel.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    900: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <!-- //js -->
    <script src="{% static 'inicio/js/bootstrap.js' %}"></script>
    <!--/ start-smoth-scrolling -->
    <script src="{% static 'inicio/js/move-top.js' %}"></script>
    <script src="{% static 'inicio/js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear' 
                                     };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!--// end-smoth-scrolling -->
</body>

</html>