
{% extends 'panel/base.html' %}
{% load staticfiles %}
{% block content %}
{% load carton_tags %}
{% get_cart as cart %}
<div class="container">
    <div class="page-header">
        <div class="row">
            <img src="/static/base/assets/img/cintillo.png" style="width: 95%;" alt="">
        </div>
            <div class="col-xs-12 center">
                <h1>Listado de Pedidos</h1>
        </div>
    </div>
</div>

  <div class="row container-fluid">
    <div class="col-sm-12">
      <div class="div-table" style="margin:0 !important;">
        <div class="card-body">
          <div id="sampleTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                
                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                  <thead>
                    <tr role="row">
                      <th>N°</th> 
                      {% if request.user.is_administrador %}                     
                      <th>Productor</th>
                      {% endif %}
                      <th>Fecha</th>
                      <th>Total</th>
                      <th>Estatus</th>
                      <th>Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if object_list %}
                      {% for ali in object_list %}
                      <td >{{forloop.counter}}</td>
                      {% if request.user.is_administrador %}                     
                      <td>{{ ali.productor.first_name.capitalize }} {{ ali.productor.last_name.capitalize }}</td>
                      {% endif %}
                      <td>{{ ali.fecha }}</td>
                      <td>{{ ali.total }}</td>
                      <td>{{ ali.estatus }}</td>
                      <td>
                        <a href="{% url 'ventas:alevines_detail' pk=ali.pk%}">Ver</a>
                      </td>
                        </tr>
                      
                      {% endfor %}
                    {% else %}
                        <td valign="top" colspan="5" class="dataTables_empty">No hay datos disponibles en la tabla</td>
                    {% endif %}
                      
                  </tbody>
                </table>
              </div>
            </div>
          </div>             
        </div>
      </div>
    </div>
  </div>

{% endblock %}














